.do-container{
    font-family: Arial, sans-serif;
    color: #3a3a3a;
}
.first_text{
  color: #aea9a0;
}
.top-img{
    background-image: url('../Images/about_images/rafting1.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.do-content{
    font-weight: 100;
    padding: 40px;
}
.first-topic{
    padding: 10px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #b6b2aa;

}
.second-topic{
    padding: 10px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #b6b2aa;

}
.first-para:first-of-type{
    padding: 10px;
    /*text-align: center;*/
    text-align: justify;
    row-gap: 2px;
    margin: 0 auto;
    max-width: 1200px;
    line-height: 1.6;
} 

.two-column-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    height: 350px;
    background-color:#aea9a0;
  }
  
  .image-column {
    
    
    max-width: 45%;
    align-items: flex-end;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    
  }
  .image-column img {
    width: 60vh; /* Make the image responsive */
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
    justify-items: center;
    justify-self: center;
     
  }
  
  
  
  .text-column {
     /* Make the text column smaller */
    text-align: left;
    display: flex; /* Add flexbox for inner alignment */
    flex-direction: column; /* Allow vertical alignment */
    justify-content: flex-start;
    align-items: flex-start;
    
    margin: 50px;
  }
  
  .text-column h2 {
    font-size: 24px;
    color: black;
    padding: 10px;
    
    
  }
  
  .text-column p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
    padding: 5px;
    margin:5px;
    
  }
  
  @media (max-width: 768px) {
    .two-column-container {
      flex-direction: column;
    }
    .image-column, .text-column {
      max-width: 100%;
      text-align: center; /* Center-align text for better appearance */
    }
    .image-column img {
      width: 80%; 
      align-items: flex-start;
    }
  }
  