.footer {
    background-color: #e0e0d8;
    color: black;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  