/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2rem;
    background-color: #78927e;
    color: white;
    position: relative;
    z-index: 10;
}

.navbar-logo img {
    width: 160px;
}


.navbar-links {
    list-style: none;
    display: flex;
    transition: all 0.3s ease-in-out;
    gap: 2rem;
}

.navbar-links li {
    text-transform: uppercase;
    font-family: Raleway;
    letter-spacing: 1px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #063231;
}
